.container {
  width: 80%;
  margin: 0px auto;
}
.main {
  background-image: url(../public/confidence-gap-adam-eastburn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather > div {
  width: 50%;
}

.weather_right {
  text-align: center;

  background-color: #031e49;
  border: 5px solid #286095;
  border-radius: 12px;
  padding: 25px 40px;
  color: #fff;
}
.temprature {
  padding: 25px 0 10px 0;
}
.city {
  font-size: 18px;
  font-weight: 600;
}

.temprature_icon > .sunnyIcon {
  font-size: 46px;
}
.temprature_icon p {
  font-size: 18px;
  font-weight: 500;
}

.temprature_val h2 {
  font-size: 40px;
  font-weight: 400;
}
.wind {
  line-height: 0.8;
  font-size: 14px;
  text-align: start;
}
.sunnyIcon {
  color: #ffa500;
}

.temprature,
.week {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.week .day .sunnyIcon {
  font-size: 18px;
}
.week .day p:last-child {
  font-weight: 500;
}

/* ................................ */
.left_content {
  width: 80%;
  line-height: 1.8;
  color: #ddd;
}
.left_content h2:first-child {
  font-size: 32px;
  line-height: 1.4;
}

.left_content h2:last-child {
  background-color: rgba(7, 9, 64, 0.236);
  border-radius: 15px;
  display: inline-block;
  padding: 2px 20px 5px 10px;
  margin: 0;
  color: #fff;
}
.left_content p {
  font-size: 18px;
  line-height: 1.5;
}
